/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Visibilité */
.hidden{
    opacity:0;
    transform:scale(0.1);
}

/* Général */

.alert{
    width:100%;
    height:30px;
    position:absolute;
    top:-150px;left:0;
    background-color:#70b7bd;
    color:#fff;
    padding:0.5em;
    box-sizing: border-box;
    font-size:1em;
    font-weight:normal;
    transition:1s;
}

button, input[type="submit"]{
    border:none;
    background-color:#77d0e0;
    color: #fff;
    transition:0.3s;
    cursor:pointer;
    text-transform:uppercase;
}

button:hover{
    color:rgb(80, 77, 77);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
transition:0.3s;
}

header{
  text-align:left;
  background-color:#f87c56;
  color:#fff;
  box-sizing: border-box;
  height:30px;
  padding:10px;
}
html{
    background-color:#fff;
}
body{
    width:360px;
    height:510px;
    position:relative;
    display:block;
    margin: auto;
    font-family: fantasy;
    overflow-x:hidden;
    background-color:#adecf5;
}

/* INTERFACES */

/*** Section Page */
section.page{
  height:calc(100% - 80px);
  width:100%;
  position:absolute;
  top:30px;
  left:-999px;
  transition: 0.5s cubic-bezier(.73,.47,.58,.92);
  padding:0px 5px;
  box-sizing:border-box;
}
section.page.active{
  left:0;
  transition: 0.5s cubic-bezier(.73,.47,.58,.92);
}

/*** FOOTER */
footer {
  display: block;
  width: 100%;
  height:50px;
  position: absolute;
  bottom: 0;
  left:0;
  text-align: center;
  font-family: fantasy;
}
#buttons_flex{
  display: flex;
  align-content: center;
  flex-flow: row;
  justify-content: space-around;
}
#buttons_flex li:first-child{
  border-left:none;
}
#buttons_flex li:last-child{
  border-right:none;
}
#buttons_flex li{
  list-style-type: none;
  text-align:center;
  width:20%;
  border-left:solid 1px #fff;
  border-right:solid 1px #fff;
  box-sizing: border-box;
  height:50px;
  padding:17px;
  background-color:#41454e;
  color:#fff;
  cursor:pointer;
}
#buttons_flex li:hover{
  background-color:#fff;
  color:#000;
}
#buttons_flex li a{
  color:#fff;
  text-decoration: none;
}
#buttons_flex li:hover a{
  color:#000;
}

/* Page ChoixUtilisateur */
.choixUtilisateur{
    text-align:center;
  /*  background-image:url('../../image/fond-accueil.jpg');*/
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
}
.choixUtilisateur button{
    margin-top:2em;
  height:30px;
  padding:0.5em;
  box-sizing:border-box;
  width:150px;
  cursor:pointer;
  display:inline-block;
}
.choixUtilisateur img{
    width:60%;
    margin-top:3em;
}

/* Page Connexion */
.connexion form{
    width:100%;
    height:40%;
    margin:auto;
    margin-top:20%;
    display:block;
    vertical-align: top;
}

.connexion input{
    display:inline-block;
    width:100%;
    padding:0.5em;
    box-sizing:border-box;
    text-align:center;
    position:relative;
    vertical-align: top;
}

.connexion form > i{
    font-size:7em;
    text-align:center;
    width:100%;
    color:#fff;
}

.connexion input:not([type = "submit"]){
    margin-top:10px;
}

.connexion input[type="submit"]{
    margin-top:2em;
}   

/* Page QrCode */

section.qrCode{
    background-color:#f5F5F5;
}

section.qrCode button{
    display:block;
    width:100%;
    padding:1em 0.5em;
    margin-bottom:5px;
    border:0;
    border-radius:0;
    color:#fff;
    text-transform:uppercase;
    cursor:pointer;
}
section.qrCode button:hover{
    transform:scale(1.02);
}

section.qrCode #qr{
    background-image:url('../../image/fond-qrCode.jpg');
    background-position:center;
}

section.qrCode button#scan{
    background-color:#70b7bd;
    margin-top:5px;
}

section.qrCode button#stop{
    background-color:red;
}

section.qrCode button#change{
    background-color:orange;
}

section.qrCode #qr button{
    display:block;
    height:100%;
    width:100%;
    background-color:#70b7bd;
}


/* Page Map */

section.googleMap #map{
    height:385px;
}

section.googleMap .gm-style > .gmnoprint{
    display:none;
}
section.googleMap .gmnoprint.gm-bundled-control{
    display:block;
}

section.googleMap img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"], section.googleMap a[title="Signaler à Google une erreur dans la carte routière ou les images"]{
    display:none;
}

section.googleMap button{
    width:100%;
    padding: 1em 0.5em;
    border:none;
    background-color:#70b7bd;
    color:#fff;
    cursor:pointer;
}
section.googleMap button span.mnr{
background-color:#fff;
color:#70b7bd;
padding:0.2em 0.4em;
margin-left:10px;
font-weight:bold;
}

/* Page une Oeuvre */

.