/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Visibilité */
.hidden{
    opacity:0;
    display:none !important;
    transform:scale(0.1);
}

/* Général */

.alert{
    width:100%;
    height:30px;
    position:absolute;
    top:-150px;left:0;
    background-color:#70b7bd;
    color:#fff;
    padding:0.5em;
    box-sizing: border-box;
    font-size:1em;
    font-weight:normal;
    transition:1s;
}

button, input[type="submit"]{
    border:none;
    background-color:#77d0e0;
    color: #fff;
    transition:0.3s;
    cursor:pointer;
    text-transform:uppercase;
}

button:hover,input[type="submit"]:hover{
    color:rgb(80, 77, 77);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
transition:0.3s;
}

header{
  text-align:left;
  background-color:#f87c56;
  color:#fff;
  box-sizing: border-box;
  height:30px;
  padding:10px;
}
html{
    background-color:#fff;
}
body{
    width:360px;
    height:510px;
    position:relative;
    display:block;
    margin: auto;
    font-family: fantasy;
    overflow-x:hidden;
    background-color:#adecf5;
}

/* INTERFACES */

/*** Section Page */
section.page{
  height:calc(100% - 80px);
  width:100%;
  position:absolute;
  top:30px;
  left:-999px;
  transition: 0.5s cubic-bezier(.73,.47,.58,.92);
  padding:0px 5px;
  box-sizing:border-box;
  overflow-y:scroll;
}
section.page.active{
  left:0;
  transition: 0.5s cubic-bezier(.73,.47,.58,.92);
}

/*** FOOTER */
footer {
  display: block;
  width: 100%;
  height:50px;
  position: absolute;
  bottom: 0;
  left:0;
  text-align: center;
  font-family: fantasy;
}
#buttons_flex{
  display: flex;
  align-content: center;
  flex-flow: row;
  justify-content: space-around;
}
#buttons_flex li:first-child{
  border-left:none;
}
#buttons_flex li:last-child{
  border-right:none;
}
#buttons_flex li{
  list-style-type: none;
  text-align:center;
  width:25%;
  border-left:solid 1px #fff;
  border-right:solid 1px #fff;
  box-sizing: border-box;
  height:50px;
  padding:17px;
  background-color:#41454e;
  color:#fff;
  cursor:pointer;
}
#buttons_flex li:hover{
  background-color:#fff;
  color:#000;
}
#buttons_flex li a{
  color:#fff;
  text-decoration: none;
}
#buttons_flex li:hover a{
  color:#000;
}

/* Page ChoixUtilisateur */
.choixUtilisateur{
    text-align:center;
  /*  background-image:url('../../image/fond-accueil.jpg');*/
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
}
.choixUtilisateur button{
    margin-top:2em;
  height:30px;
  padding:0.5em;
  box-sizing:border-box;
  width:150px;
  cursor:pointer;
  display:inline-block;
}
.choixUtilisateur img{
    width:60%;
    margin-top:3em;
}

/* Page Connexion */
.connexion form{
    width:100%;
    height:40%;
    margin:auto;
    margin-top:20%;
    display:block;
    vertical-align: top;
}

.connexion input{
    display:inline-block;
    width:100%;
    padding:0.5em;
    box-sizing:border-box;
    text-align:center;
    position:relative;
    vertical-align: top;
}

.connexion form > i{
    font-size:7em;
    text-align:center;
    width:100%;
    color:#fff;
}

.connexion input:not([type = "submit"]){
    margin-top:10px;
}

.connexion input[type="submit"]{
    margin-top:2em;
}   

p.inscriptionLink{
    text-decoration:underline;
    font-weight:100 !important;
    text-align:right;
    margin-top:0.5em;
    font-size:0.8em;
    cursor:pointer;
    color:#F5F5F5;
}

/* Page Inscription */

.inscriptionUtilisateur > p{
    margin-top: 10%;
    text-align:center;
    text-transform:uppercase;
}
.inscriptionUtilisateur form{
    width:100%;
    height:40%;
    margin:auto;
    margin-top:10%;
    display:block;
    vertical-align: top;
}


.inscriptionUtilisateur input{
    display:inline-block;
    width:100%;
    padding:0.5em;
    box-sizing:border-box;
    text-align:center;
    position:relative;
    vertical-align: top;
}
.inscriptionUtilisateur input:not([type = "submit"]){
    margin-top:10px;
}

.inscriptionUtilisateur input[type="submit"]{
    margin-top:2em;
}   

/* Page QrCode */

section.qrCode{
    background-color:#f5F5F5;
}

section.qrCode button{
    display:block;
    width:100%;
    padding:1em 0.5em;
    margin-bottom:5px;
    border:0;
    border-radius:0;
    color:#fff;
    text-transform:uppercase;
    cursor:pointer;
}
section.qrCode button:hover{
    transform:scale(1.02);
}

section.qrCode #qr{
    background-image:url('../../image/fond-qrCode.jpg');
    background-position:center;
}

section.qrCode button#scan{
    background-color:#70b7bd;
    margin-top:5px;
}

section.qrCode button#stop{
    background-color:#f77b55;
}

section.qrCode button#change{
    background-color:orange;
}

section.qrCode #qr button{
    display:block;
    height:100%;
    width:100%;
    background-color:#70b7bd;
}


/* Page Map */

section.googleMap #map{
    height:385px;
}

section.googleMap .gm-style > .gmnoprint{
    display:none;
}
section.googleMap .gmnoprint.gm-bundled-control{
    display:block;
}

section.googleMap img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"], section.googleMap a[title="Signaler à Google une erreur dans la carte routière ou les images"]{
    display:none;
}

section.googleMap button{
    width:100%;
    padding: 1em 0.5em;
    border:none;
    background-color:#70b7bd;
    color:#fff;
    cursor:pointer;
}
section.googleMap button span.mnr{
background-color:#fff;
color:#70b7bd;
padding:0.2em 0.4em;
margin-left:10px;
font-weight:bold;
}

/* Page Rechercher */

.catalogue > p {
    margin-top: 10%;
    text-align:center;
    text-transform:uppercase;
    display:block;
    margin-top:40%;
}

.catalogue button, .catalogue input{
        display:inline-block;
        width:60%;
        padding:0.5em;
        box-sizing:border-box;
        text-align:center;
        position:relative;
        vertical-align: top;
}
.catalogue select{
    display:inline-block;
    width:35%;
    padding:0.5em;
}
.catalogue button{
    width:100%;
    margin-top:2em;

}
/* Page une Oeuvre */

.uneOeuvre{
    position:relative;
}

.uneOeuvre h1{
    text-align:center;
    margin-top:10px;
}

.uneOeuvre img{
    width:100%;
    margin:10px 0;
}

.uneOeuvre i.switch{
    position:absolute;
    right:5px;
    color:#F87C56;
    font-size:50px;
    cursor:pointer;
    background-color:rgba(255,255,255,0.4);
    padding:2px;
    box-sizing:border-box;
}

.uneOeuvre .informations {
    text-align:center;
}

.uneOeuvre .informations button{
    width:49%;
    display:inline-block;
    padding:0.5em 0.2em;
    box-sizing:border-box;
}
.uneOeuvre .informations button i{
    margin-right:5px;
}

.uneOeuvre .informations .descriptionsGenerales{
text-align:left;
background-color:rgba(255,255,255,0.6);
margin:0.5em 0;
padding:5px;
box-sizing:border-box;
}
.uneOeuvre .informations .descriptionsGenerales p{
    margin-bottom:10px;
    background-color:rgba(255,255,255,0.7);
    padding:0.4em;
    box-sizing:border-box;
}

.uneOeuvre .informations .descriptionsGenerales strong{
    font-weight:bold;
}

.uneOeuvre .informations .descriptionsGenerales span{
    margin-right:5px;
    margin-bottom:5px;
    color:#fff;
    padding:5px !important;
    box-sizing: border-box;
    background-color:#F87C56;
    display:inline-block;
}
.uneOeuvre .informations .descriptionsPrecises{
text-align:left;
background-color:rgba(255,255,255,0.6);
margin:0.5em 0;
padding:5px;
box-sizing:border-box;
}
.uneOeuvre .informations .descriptionsPrecises button{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}

.uneOeuvre .informations .descriptionsPrecises p{
    margin-bottom:10px;
    background-color:rgba(255,255,255,0.7);
    padding:0.4em;
    box-sizing:border-box;
}

.uneOeuvre .informations .descriptionsPrecises strong{
    font-weight:bold;
}

.uneOeuvre .informations .descriptionsPrecises span{
    margin-right:5px;
    margin-bottom:5px;
    color:#fff;
    padding:5px !important;
    box-sizing: border-box;
    background-color:#F87C56;
    display:inline-block;

}

.frise{
    background-color:rgba(255,255,255,0.8);
    padding:1em;
    box-sizing:border-box;
    overflow-x:scroll;
}

.friseProgression {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: no wrap;
  }
  
  .friseProgression li {
    position: relative;
    flex: 1 0 auto;
    height: 58px;
    text-align: center;
  }
  
  .friseProgression li:before {
    content: "";
    height: 2px;
    background: #CCC;
    width: 100%;
    position: absolute;
    top: 43px;
    left: 0;
  }
  
  .friseProgression li.fait:before,
  .friseProgression li.actif:before {
    background: #F87C56;
  }
  
  .friseProgression li:first-child:before {
    width: 50%;
    left: 50%;
  }
  
  .friseProgression li:last-child:before {
    width: 50%;
    left: 0;
  }
  
  .friseProgression li .etiquette {
    position: relative;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px 0 #e6e6e6;
    height: 22px;
    padding: 2px 10px;
  }
  
  .friseProgression li .etiquette:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top: 100%;
    margin-top: 10px;
    display: block;
    width: 26px;
    height: 26px;
    border: 1px solid #CCC;
    border-radius: 50%;
    background: #fff;
  }
  
  .friseProgression li.fait .etiquette:before {
    background: #F87C56;
    border-color: #F87C56;
  }
  
  .friseProgression li.actif .etiquette:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 100%;
    margin-top: 17px;
    display: block;
    width: 12px;
    height: 12px;
    background: #F87C56;
    border-radius: 50%;
  }

  /* Page Parcours */
  .parcours .oeuvreQuestion{
      background:rgba(255,255,255,0.7);
      padding:0.5em;
      margin-top:5px;
  }

.parcours p{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: none;
	text-align: center;
}

.parcours button{
    text-align: center;
    margin:2px;
    cursor:pointer;

}

.parcours img{
    display:block;
	height: auto;
	width: 100%;
}
.parcours .oui{
	display: inline-block;
    margin-top: 30px;
}

.parcours .trouve{
margin-top: 10px;
}

.parcours .question{
	margin-top: 30px;
	font-style:italic;
}

.parcours button{
    display:inline-block;
    padding:0.5em;
    width:48%;
    box-sizing:border-box;
}


/* Page Resultat Recherche */

.resultatRecherche{
    vertical-align: center;
}

.resultatRecherche h1{
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
    border-width: 1px;
    font-weight:bold;
}

.resultatRecherche > div{
    width:100%;
    vertical-align: top;
    background: rgba(255,255,255,0.7);
    margin-bottom:5px;
    padding:0.5em;
    box-sizing:border-box;
    cursor:pointer;
    transition:1s;
}
.resultatRecherche > div:hover{
    box-shadow: 0px 0px 1px 1px #000;
    transition:1s;
}

.resultatRecherche img{
	display:inline-block;
	height: auto !important;
    width: 90px;
    
}

.resultatRecherche div{
	display:inline-block;
    vertical-align: center;
    cursor:pointer;
}

.resultatRecherche img{
	display:inline-block;
	height: 120px;
	width: 90;
}

.resultatRecherche .description{
    display:inline-block;
    width:150px;
    cursor:pointer;
}
